.notFound{
    margin-top: 15%;
    margin-left: 40%;
    align-items: center;
}
.notFound h1{
    font-size: 100px;
    color: #ccc;
}
.notFound h2{
    padding-top: 40px;
    font-size: 50px;
}
.notFound button{
    margin-top: 40px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}