.content{
    padding: 10px 80px 0px;
}
.row{
    display: flex;
    gap: 10px;
    mat-form-field{
        width: 100%;
    }
}
.action{
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
}

.no-border{
    border: none;
    outline: none;
    box-shadow: none;
    border-color: transparent;
}